# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Force all text files to use LF line endings
# Auto detect text files and perform LF normalization
* -text

# Custom for Java project files
*.java text eol=lf
*.xml text eol=lf
*.properties text eol=lf
*.md text eol=lf
*.sh text eol=lf
*.py text eol=lf
*.cmd text eol=crlf

# Ignore binary files
*.jar binary
*.war binary
*.ear binary
*.zip binary
*.tar.gz binary
*.rar binary
*.class binary
